# Data Science Tools and Ecosystem

#### In this notebook, Data Science tools and Ecosystem are summarized.

#### Objectives : 
- list popular data science languages
- list commonly used libraries
- make a table of some tools
- test arithmetic expressions
- use markdown and "code"

##### Some of the popular languages that Data Scientists use are : 

1. R
2. Python
3. SQL
4. C/C++
5. Java
6. JavaScript
7. Julia

##### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Plotly
5. Tensorflow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
(3*4)+5
# this is a simple arithmetic expression to mutiply then add integers

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tristan Naas